@charset "utf-8";

/* reset */
html {font-size:100%}
body {
    font:normal 12px '돋움',dotum, Verdana, sans-serif;
	line-height:1.6;
	color:#666666;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol, li {list-style:none;}
a:link, a:visited {color: #666666;text-decoration:none;}
a:hover {color:#339900; text-decoration: none;}
table {border-collapse: collapse; width: 100%}
table > caption {visibility: hidden; height: 0;}
i {font-family: verdana; font-style: normal;}

button{
border-width: 0px;
border-style: none;
border-color: initial;
border-image: initial;
}

.blind {
display: inline-block;
overflow: hidden;
text-indent: -999em;
font-size:0px;
}

/* 레이아웃 */

.wrap {width: 100%; min-width: 970px;}
.main {width: 100%; margin-bottom: 78px;}
.main > .inner {overflow: hidden;}
.footer {
	width: 100%; height:100%;
	background: url(../images/bg_footer.gif) repeat-x #f2f2f2;
}

/* common style 시작 */

.inner {width: 970px; margin: 0 auto;}
.bd {border:1px solid #dddddd;}
.clearfix:after {display: block;content: '';clear: both;}

h4 {font-family:verdana;font-size:18px;line-height:23px; color:#222;}

.banner1 {font-size: 0;}
.banner1 strong {
  color:#e42a40; font-size: 18px;
  letter-spacing: -1px; display: block;
}
.banner1 span {
  color:#666666; font-size: 14px; display: block; letter-spacing: -1px;
}
.banner1 span b {display: block; font-weight: normal; margin-top: -5px;}
.banner1 em {
  font-size: 12px; font-style: normal;
  margin-top: 11px; display: inline-block;
  padding-right: 13px;
  background: url(../images/ico_arrow_link.gif) no-repeat right center;
}
.banner2 strong {font-family:verdana;font-size:16px;line-height:20px;color:#222;}
.banner2 em {font-family:verdana;font-size:16px;line-height:20px;color:#e0002a;}
.banner3 {padding: 20px 0 0 24px;}
.banner3 strong {color: #222;}
.banner3 > span {margin-top: 4px; display: block; margin-bottom: 40px;}
.banner3 p a {
	padding-right: 14px; display: inline-block;
	background: url(../images/ico_arrow_link.gif) no-repeat right center;
}
.rolling_banner {position: relative;}
.rolling_banner > .page {
	position: absolute; left: 15px; bottom: 12px;}
.rolling_banner .page a {
	background: url(../images/ico_indicator01.png) no-repeat 0 -30px;
	width: 10px; height: 10px; display: block; float: left;
}
.rolling_banner .page a.on {
	background: url(../images/ico_indicator01.png) no-repeat 0 0px;
}
.rolling_banner .page a.stop {
	background: url(../images/ico_indicator01.png) no-repeat 0 -60px;
 	width: 16px; height: 16px; margin-top: -3px;
}
.rolling_banner .page a + a {margin-left: 5px;}

.rolling_banner.white .page a {
	background: url(../images/ico_indicator01.png) no-repeat -60px -30px;
	width: 10px; height: 10px; display: block; float: left; 
}
.rolling_banner.white .page a.on {
	background: url(../images/ico_indicator01.png) no-repeat -60px 0px;
}
.rolling_banner.white .page a.stop {
	background: url(../images/ico_indicator01.png) no-repeat -60px -60px;
 	width: 16px; height: 16px; margin-top: -3px;
}
.rolling_banner.small > .page {
	position: absolute; left: 12px; bottom: 5px;}
.rolling_banner.small .page a {
	background: url(../images/ico_indicator01.png) no-repeat -87px -27px;
	width: 10px; height: 10px; display: block; float: left;
}
.rolling_banner.small .page a.on {
	background: url(../images/ico_indicator01.png) no-repeat -87px 0px;
}
.rolling_banner.small .page a.stop {
	background: url(../images/ico_indicator01.png) no-repeat -86px -51px;
 	width: 14px; height: 14px; margin-top: -3px; margin-left: 5px;
}
.rolling_banner.small .page a + a {margin-left: 2px;}

.sns a {padding-left: 23px; height: 17px; display: block;}
.sns a.face {background: url(../images/ico_facebook01.gif) no-repeat 0 -17px;}
.sns a.face:hover {background: url(../images/ico_facebook01.gif) no-repeat 0 0;}
.sns a.blog {background: url(../images/ico_blog01.gif) no-repeat 0 -17px;}
.sns a.blog:hover {background: url(../images/ico_blog01.gif) no-repeat 0 0;}
.sns a.twit {background: url(../images/ico_twitter01.gif) no-repeat 0 -17px;}
.sns a.twit:hover {background: url(../images/ico_twitter01.gif) no-repeat 0 0;}

/* common style 끝 */




/* header 시작 */
.header {background: url(../images/bg_header.gif) repeat-x;}
.top {height:32px;padding-top: 8px;}

.sitemove a {float: left;width: 68px;height: 32px;color: #fff;background-color: #973919;text-align: center;line-height: 36px;}
.sitemove .on {color: #3c3c3c;background-color: #fff;font-weight: bold;}

.util {float:right;position:relative;}
.util li {float: left;margin-top: 1px;}
.util a {display:block;height: 31px;}
.util span {display: none; width: 88px;height:26px;border:1px solid #ff612a;background-color: #fff;position: absolute; top:32px;left:0;text-align: center;line-height:24px;color:#9b4022;border-top: none;}

.util .login {width: 16px;background: url(../images/bg_login.gif);}
.util .login:hover {background-position: right -49px;}
.util .login:hover span {display: block;}
.util .register {width: 19px;background: url(../images/bg_register.gif);margin-left: 18px;}
.util .register:hover {background-position: right -49px;}
.util .register:hover span {display: block;}
.util .search {width: 21px;background: url(../images/bg_search.gif);margin-left: 18px;}
.util .search:hover {background-position: right -49px;}
.util .search:hover span {display: block;}


.logo{margin: 18px 41px 0 0;float: left;}
.gnb {position: relative;z-index: 2000;}
.depth1 {font-size: 18px;position: relative;}
.depth1 > li {float: left;padding: 0 25px;margin-top: 40px;}
.depth1 > li > div {border-top:1px solid #dddddd; width:100%;position:absolute;top:91px;left:0px;z-index: 1000;padding: 0 0 15px 0;font-size: 12px;}
.depth1 > li > a {color: #000;font-weight: 600;display: inline-block;height: 52px;position: relative;z-index: 1500;text-decoration: none;}
.depth1 > li > a.on {color: #e0002a;
background: url(../images/bg_gnb_arrow.gif) no-repeat 50% 100%;}
.depth1 > li > .panel {display: none;background-color: #fff;}

.depth2 > li {float:left;width: 194px;margin-top: 18px;}
.depth2 > li > a {color: #222;font-size: 12px;font-weight: bold;}
.depth3 {margin-top: 14px;}
.depth3 > li > a {color: #666;font-size: 12px;text-decoration: none;line-height: 25px;}

.gnb_shadow {height: 26px; width: 100%;background: url(../images/bg_gnb_shadow.png) repeat-x;position: absolute; bottom:-26px;}
.call {float: right;margin-top:33px;}

.relative {position: relative;}
.menu1 {position: absolute;
top: 61px;left: 0;margin-top: 0;}
.menu2 {position: absolute; top: 61px;left: 194px; margin-top: 0;}
.menu3 {position: absolute;
top: 103px;left: 194px;margin-top: 0;}

/* header 끝 */



/* main - index 시작 */


.index .section_left {width: 232px; float: left; margin-right: 14px;}
.index .section_left .login_svc {height: 470px; padding: 10px 0 0 13px;}
.index .section_left .login_svc h4 strong {font-size: 14px;}
.index .section_left .login_svc .login {font-size: 0;}
.index .section_left .login_svc .login h4 {margin-bottom: 14px;}
.index .section_left .login_svc .login input {
	border: 1px solid #ddd; width: 200px; height: 22px;
}
.index .section_left .login_svc .login .id {margin-bottom: 4px;}
.index .section_left .login_svc .login a {
	display: inline-block; width: 99px; height: 28px;
	background-color: #666; color: white; margin-top: 16px; font-size: 12px;
}
.index .section_left .login_svc .login a.sign {margin-right: 4px;}
.index .section_left .login_svc .login a span {padding: 5px 0 0 17px; display: block;}
.index .section_left .login_svc .service_go {margin-top: 40px;}
.index .section_left .login_svc .service_go ul {font-size: 0; padding: 28px 0 0 8px;}
.index .section_left .login_svc .service_go ul li {display: inline-block; margin-bottom: 43px;}
.index .section_left .login_svc .service_go ul li + li {margin-left: 20px;}
.index .section_left .login_svc .service_go ul li.first {margin-left: 0;}
.index .section_left .login_svc .service_go ul li a {
	display: inline-block; width: 50px; height: 80px;
}
.index .section_left .login_svc .service_go ul li a.ico01 {
	background: url(../images/ico_login_svc01.gif) no-repeat;
}
.index .section_left .login_svc .service_go ul li a.ico01:hover {
	background: url(../images/ico_login_svc01.gif) no-repeat 0 -118px;
}
.index .section_left .login_svc .service_go ul li a.ico02 {
	background: url(../images/ico_login_svc02.gif) no-repeat;
}
.index .section_left .login_svc .service_go ul li a.ico02:hover {
	background: url(../images/ico_login_svc02.gif) no-repeat 0 -118px;
}
.index .section_left .login_svc .service_go ul li a.ico03 {
	background: url(../images/ico_login_svc03.gif) no-repeat;
}
.index .section_left .login_svc .service_go ul li a.ico03:hover {
	background: url(../images/ico_login_svc03.gif) no-repeat 0 -118px;
}
.index .section_left .login_svc .service_go ul li a.ico04 {
	background: url(../images/ico_login_svc04.gif) no-repeat;
}
.index .section_left .login_svc .service_go ul li a.ico04:hover {
	background: url(../images/ico_login_svc04.gif) no-repeat 0 -118px;
}
.index .section_left .login_svc .service_go ul li a.ico05 {
	background: url(../images/ico_login_svc05.gif) no-repeat;
}
.index .section_left .login_svc .service_go ul li a.ico05:hover {
	background: url(../images/ico_login_svc05.gif) no-repeat 0 -118px;
}
.index .section_left .login_svc .service_go ul li a.ico06 {
	background: url(../images/ico_login_svc06.gif) no-repeat;
}
.index .section_left .login_svc .service_go ul li a.ico06:hover {
	background: url(../images/ico_login_svc06.gif) no-repeat 0 -118px;
}
.index .section_left .notice_wrap {
	position: relative; height: 103px;
	margin-top: 34px; border-bottom: 1px solid #ddd;
}
.index .section_left .notice_wrap > ul {
	overflow: hidden; border-bottom: 1px solid #ddd;
}
.index .section_left .notice_wrap > ul > li {
	float: left; font-size: 0;
}
.index .section_left .notice_wrap > ul > li.on {
	border-bottom: 2px solid #f15a27; padding-bottom: 9px;
}
.index .section_left .notice_wrap > ul > li.on strong {color: black;}
.index .section_left .notice_wrap > ul > li + li {padding-left: 18px;}
.index .section_left .notice_wrap > ul > li > a {display: inline-block; font-size: 12px;}
.index .section_left .notice_wrap .right_go {position: absolute; top: 0; right: 0;}
.index .section_left .notice_wrap .right_go a {display: inline-block;}
.index .section_left .notice_wrap .right_go img {vertical-align: top;}
.index .section_left .notice_wrap > ul > li > ul {
	position: absolute; top: 41px; left: 0; font-size: 12px;
}
.index .section_left .notice_wrap .board li > * {display: inline-block;} 
.index .section_left .notice_wrap .board li {font-size: 0; overflow: hidden;}
.index .section_left .notice_wrap .board li a {font-size: 12px; margin-bottom: 6px;}
.index .section_left .notice_wrap .board li em {font-style: normal; font-size: 12px; float: right;}
.index .section_left .sns {height: 44px; margin-top: 15px;}
.index .section_left .sns a {display: inline-block; margin-right: 15px;}
.index .section_left .sns a.twit {margin-top: 8px;}
.index .section_left .item_wrap {margin-top: 20px; height: 84px;}
.index .section_left .item_wrap .inner {overflow: hidden; width: 232px;}
.index .section_left .item_wrap ul {width: 1000px;}
.index .section_left .item_wrap ul li {float: left;}
.index .section_left .item_wrap ul li + li {margin-left: 1px;}

.index .section_center {width: 478px; height: 100%; float: left;}
.index .section_center .top_event {height: 478px; overflow: hidden; margin-bottom: 14px;}
.index .section_center .top_event ul {font-size: 0; width: 2000px; height: 478px;}
.index .section_center .top_event ul li {float: left;}
.index .section_center .top_event ul li a {display: inline-block; width: 478px; height: 478px;}
.index .section_center .top_event a.banner_01 {background: url(../images/bg_main_banner01.jpg);}
.index .section_center .top_event a.banner_02 {background: url(../images/bg_main_banner02.jpg);}
.index .section_center .top_event a.banner_03 {background: url(../images/bg_main_banner03.jpg);}
.index .section_center .top_event a.banner_04 {background: url(../images/bg_main_banner04.jpg);}
.index .section_center .vod_wrap {width: 478px; height: 288px; background-color: #333;}
.index .section_center .vod_wrap h4 {
	padding: 15px 0 6px; margin: 0 14px; color: white; font-size: 12px; 
	border-bottom: 1px solid #666;}
.index .section_center .vod_wrap h4 strong {border-bottom: 2px solid #f15a27; padding-bottom: 9px;}
.index .section_center .vod_wrap .vod {padding: 24px 0 0 24px; }
.index .section_center .vod_wrap .vod ul {overflow: hidden; margin-bottom: 70px;}
.index .section_center .vod_wrap .vod ul li {float: left;}
.index .section_center .vod_wrap .vod ul li + li {margin-left: 17px;}
.index .section_center .vod_wrap .vod ul li span {
	display: block; color: white; font-size: 11px; margin-top: 10px;
}
.index .section_center .vod_wrap .page {position: absolute; left: 15px; bottom: 17px;}

.index .section_right {width: 232px; float: right;}
.index .section_right .product_list {margin-bottom: 15px;}
.index .section_right .product_list li a {
	padding: 14px 0 0 19px; height: 100px; display: block;
}
.index .section_right .product_list li.giga {
	border-bottom: 1px solid #ddd;
	background: url(../images/bg_main_goods05.gif);
}
.index .section_right .product_list li.giga:hover {
	border-bottom: 1px solid #ddd;
	background: url(../images/bg_main_goods05.gif) no-repeat 0 -114px;
}
.index .section_right .product_list li.btv {
	background: url(../images/bg_main_goods06.gif);
}
.index .section_right .product_list li.btv:hover {
	background: url(../images/bg_main_goods06.gif) no-repeat 0 -114px;
}
.index .section_right .smart_rental {margin-bottom: 14px;}
.index .section_right .smart_rental ul {overflow: hidden; height: 230px;}
.index .section_right .smart_rental ul li a {
	display: block;
	padding: 14px 0 0 19px; height: 216px;
}
.index .section_right .smart_rental ul li.banner_01 a {
	background: url(../images/main_r_banner01.jpg);
}
.index .section_right .btv_wrap ul {overflow: hidden; height: 286px;}
.index .section_right .btv_wrap ul li a {
	display: block; 
	padding: 14px 0 0 19px; height: 272px;
}
.index .section_right .btv_wrap ul li.banner_01 a {
	background: url(../images/main_r_banner05.jpg);
}

/* main - index 끝 */

/* main - products 시작 */
/* main - products 끝 */

/* main - contents 시작 */
/* main - contents 끝 */

/* main - cs 시작 */

.cs .section_left {width: 200px; float: left;}
.cs .section_left .login {
	height: 163px; padding: 20px 0 0 15px; background-color: #333;
}
.cs .section_left .login h4 strong {color: white; font-size: 14px;}
.cs .section_left .login {font-size: 0;}
.cs .section_left .login h4 {margin-bottom: 14px;}
.cs .section_left .login input {border: none; width: 168px; height: 22px;}
.cs .section_left .login .id {margin-bottom: 4px;}
.cs .section_left .login a {
	display: inline-block; width: 84px; height: 28px;
	background-color: #666; color: white; margin-top: 16px; font-size: 12px;
}
.cs .section_left .login a.sign {margin-right: 2px;}
.cs .section_left .login a span {padding: 5px 0 0 12px; display: block;}

.cs .section_left .lnb_menu {}
.lnb_menu > h4 {width: 198px; height: 75px; text-align: center; padding-top: 53px;}
.lnb_menu > h4 strong {font-size: 24px;}

.lnb_menu .depth_01 > li {
	width: 198px;
	border-left: 1px solid #ddd; 
	border-right: 1px solid #ddd; 
	border-bottom: 1px solid #ddd;
} 
.lnb_menu .depth_01 > li > a {
	display: inline-block; height: 27px; padding: 12px 0 0 14px;
}
.lnb_menu .depth_01 > li > .toggle {
	width: 10px; height: 10px;
	padding: 0; margin: 17px 19px 0; float: right;
	background: url(../images/bg_lnb_dep2.gif);
}
.lnb_menu .depth_01 .depth_02 {
	background-color: #fafafa; width: 198px; border-top: 1px solid #ddd;
    display: none;
}
.lnb_menu .depth_01 .depth_02 > li {margin: 0 14px;}
.lnb_menu .depth_01 .depth_02 > li + li {border-top: 1px solid #ebebeb;}
.lnb_menu .depth_01 .depth_02 > li > a {
	height: 28px; display: inline-block;
	padding: 10px 0 0 10px;
}
.lnb_menu .depth_01 .depth_02 > li.down > .toggle {
	width: 10px; height: 10px;
	padding: 0; float: right; margin: 18px 5px 0 0;
	background: url(../images/bg_lnb_dep3.gif) ;
}

.lnb_menu .depth_01 .depth_02 .depth_03 {
	width: 198px; margin-left: -14px; 
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #ebebeb url(../images/bg_dep2_line.gif) repeat-y center 100%;
    display: none;
    margin-bottom:-1px;
    position: relative; z-index: 10;
}
.lnb_menu .depth_01 .depth_02 .depth_03 > li {margin: 0 14px;}
.lnb_menu .depth_01 .depth_02 .depth_03 > li + li {border-top: 1px solid #cfcfcf;}
.lnb_menu .depth_01 .depth_02 .depth_03 > li > a {
	height: 28px; display: inline-block;
	padding: 10px 0 0 10px;
}
.cs .section_left .event_banner a {
	background: url(../images/bg_event_banner.jpg);
	display: block; width: 200px; height: 200px; margin-top: 15px;
}
.cs .section_cs {float: right; width: 724px;}
.cs .section_cs h3 {color: black; font-size: 30px; font-weight: bold; margin-top: 30px;}
.cs .section_cs .qna {
	width: 664px; height: 245px; background-color: #ede9e7;
	padding: 30px 30px 0 30px; margin-top: 25px;
}
.cs .section_cs .qna > h4 strong {font-size: 20px; color: #222; }
.cs .section_cs .qna > div {margin-top: 38px; position: relative;}
.cs .section_cs .qna > div .page {position: absolute; top: 2px; right: 0;}
.cs .section_cs .qna > div .page a {
	padding-right: 14px;
	background: url(../images/ico_arrow_link.gif) no-repeat right center;
}
.cs .section_cs .qna > div > ul {
	overflow: hidden; border-bottom: 1px solid #ccc; padding-bottom: 10px;
}
.cs .section_cs .qna > div > ul > li {float: left;}
.cs .section_cs .qna > div > ul > li > a {font-size: 13px; color: #666;} 
.cs .section_cs .qna > div > ul > li.on > a {
	color: black; border-bottom: 2px solid #f15a27; padding-bottom: 12px;
}
.cs .section_cs .qna > div > ul > li.on > .qna_board {display: table;}
.cs .section_cs .qna > div > ul > li + li {margin-left: 17px;}
.qna_board {position: absolute; top: 42px; left: 0; border-collapse: collapse; display: none;}
.qna_board td {padding: 3px 0 3px;}
.qna_board .bold {color: black; font-weight: bold;}

.cs .section_cs .banner_wrap {margin-top: 43px; clear: both;}
.cs .section_cs .banner_wrap .left {width: 478px; float: left;}
.cs .section_cs .banner_wrap .left .csfind {
	height: 144px;
	background: url(../images/bg_search_cs.gif) no-repeat right bottom;
}
.cs .section_cs .banner_wrap .left .csfind span {margin-bottom: 25px;}
.cs .section_cs .banner_wrap .left .csfind select {
    width: 116px; height: 26px; border: 1px solid #ddd; padding-left: 8px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background: url(../images/ico_selectbox_arrow.gif) no-repeat right center;  /* add custom arrow */
}
.cs .section_cs .banner_wrap .left .csfind a.search {
	background-color: #666; display: inline-block; text-align: center;
	width: 53px; height: 20px; color: white; padding: 6px 0 0px 0; margin-left: 2px;
}
.cs .section_cs .banner_wrap .left .csfind .search span {
	display: inline-block;
}
.cs .section_cs .banner_wrap .left .service {
	height: 144px; margin-top: 14px;
	background: url(../images/bg_find_area.gif) no-repeat right bottom;
}

.cs .section_cs .banner_wrap .left .bottom {font-size: 0; margin-top: 34px;}
.cs .section_cs .banner_wrap .left .bottom .notice {
	width: 232px; display: inline-block; font-size: 12px;
	position: relative;
}
.cs .section_cs .banner_wrap .left .bottom .mang {
	width: 232px; display: inline-block; 
	font-size: 12px; margin-left: 12px; position: relative;
}
.cs .section_cs .banner_wrap .left .bottom h4 {margin-bottom: 8px;}
.cs .section_cs .banner_wrap .left .bottom ul li + li {margin-top: 3px;}

.cs .section_cs .banner_wrap .left .bottom .more {
	position: absolute; top: 3px; right: 0;
}
.cs .section_cs .banner_wrap .left .bottom .more a {
	padding-right: 14px;
	background: url(../images/ico_arrow_link.gif) no-repeat right center;
}
.cs .section_cs .banner_wrap .right {width: 232px; float: right;}
.cs .section_cs .banner_wrap .right .quick_s {
	padding: 21px 19px 0 19px; 
	width: 192px; height: 323px;
}
.cs .section_cs .banner_wrap .right .quick_s h4 {margin-bottom: 34px;}
.cs .section_cs .banner_wrap .right .quick_s ul li:first-child {padding-top: 0;}
.cs .section_cs .banner_wrap .right .quick_s ul li {border-bottom: 1px solid #e9e9e9; padding: 16px 0 14px;}
.cs .section_cs .banner_wrap .right .quick_s ul li a {
	font-size: 12px; font-weight: bold; display: block;
	padding-left: 4px; background: url(../images/bu_arrow_right10.gif) no-repeat 167px center;
}
.cs .section_cs .banner_wrap .right .one_cs {
	padding: 21px 0 0 19px;
	width: 213px; height: 159px; margin-top: 15px;
	background: #f5f2f1 url(../images/bg_cs_center.gif) no-repeat right bottom;
}
.cs .section_cs .banner_wrap .right .one_cs strong {color: #222;}
.cs .section_cs .banner_wrap .right .one_cs span {margin-bottom: 55px; display: block;}
.cs .section_cs .banner_wrap .right .one_cs p a {
	padding-right: 14px; display: inline-block;
	background: url(../images/ico_arrow_link.gif) no-repeat right center;
}

/* main - cs 끝 */




/* aside 시작 */
.quickmenu {position: fixed;right: 0;top: 132px;z-index: 100;}
.quickmenu ul.on{border-top: 1px solid #ddd;width: 80px;overflow: hidden;display: block;}
.quickmenu ul{display: none;}
.quickmenu ul li {height: 89px;float: left;
border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;}
.quickmenu ul li a{width: 79px;height: 89px;background: url(../images/bg_quick.gif) no-repeat 0 0;}
.quickmenu button{position: absolute;top: 37px;left: -26px;width: 27px;height: 40px;background-image: url(../images/btn_quick_toggle_off.gif);
}
.quickmenu .quick1 {background-position: 0 0;}
.quickmenu .quick1:hover {background-position: -80px 0;}
.quickmenu .quick2 {background-position: 0 -90px;}
.quickmenu .quick2:hover {background-position: -80px -90px;}
.quickmenu .quick3 {background-position: 0 -180px;}
.quickmenu .quick3:hover {background-position: -80px -180px;}
.quickmenu .quick4 {background-position: 0 -270px;}
.quickmenu .quick4:hover {background-position: -80px -270px;}
.quickmenu .quick5 {background-position: 0 -360px;}
.quickmenu .quick5:hover {background-position: -80px -360px;}
.quickmenu .quick6 {background-position: 0 -450px;}
.quickmenu .quick6:hover {background-position: -80px -450px;}

/* aside 끝 */




/* footer 시작 */

.footer {color: #777;}
.footer .svc_guide {overflow: hidden;}
.footer .svc_guide li {
	width: 321px; height: 30px; float: left; color: white; text-align: center;
	border-left: 1px solid #9f9f9f;
}
.footer .svc_guide li:first-child {border-left: none;}
.footer .svc_guide li a {display: inline-block; margin-top: 6px;}
.footer .svc_guide li strong {color: white; }
.footer .utill_wrap {
	border-bottom:1px solid #c8c8c8;
 	padding: 20px 0 19px; position: relative;
}
.footer .utill_wrap:after {content: ''; display: block; clear: both; zoom:1;}
.footer .utill_wrap .sns {overflow: hidden; float: left;}
.footer .utill_wrap .sns li {float: left;}
.footer .utill_wrap .sns li + li {margin-left: 30px;}
.footer .utill_wrap .sns li span {display: inline-block; margin-top: -1px; font-size: 12px;}
.footer .utill_wrap .all_map {float: right; font-size: 0;}
.footer .utill_wrap .all_map a {font-size: 12px;}
.footer .utill_wrap .all_map a.site {
	padding-right: 24px;
	background: url(../images/vline_utill01.gif) no-repeat 57px 1px;
}
.footer .utill_wrap .all_map a.eng {margin-right: 13px;}
.footer .utill_wrap .all_map a.site_go {
	padding-left: 23px; height: 16px; display: inline-block;
	background: url(../images/bg_family_btn.gif) no-repeat;
}
.footer .utill_wrap .site_wrap {
	position: absolute; top: -230px; right: 0;
	width: 412px; height: 209px;
	background-color: white;
	border: 1px solid #ddd;
	padding: 23px 0 0 30px;
}
.footer .utill_wrap .site_wrap > ul {overflow: hidden; font-size: 0;}
.footer .utill_wrap .site_wrap > ul > li {float: left;}
.footer .utill_wrap .site_wrap > ul > li + li {margin-left: 38px;}
.footer .utill_wrap .site_wrap > ul > li > ul > li {font-size: 12px;}
.footer .utill_wrap .site_wrap > ul > li > ul > li:first-child {margin-bottom: 6px;}
.footer .utill_wrap .site_wrap > ul > li > ul > li + li {margin-bottom: 2px;}
.footer .utill_wrap .site_wrap > ul strong {color: #222;}
.footer .utill_wrap .site_wrap > span {
	background: url(../images/bg_family_arrow.png) no-repeat;
	width: 16px; height: 9px; position: absolute; bottom: -9px; right: 56px;
}
.footer .utill_wrap .site_wrap > a.closed {
	background: url(../images/btn_family_close.gif) no-repeat;
	display: inline-block; width: 15px; height: 15px;
	position: absolute; top: 24px; right: 14px;
}
.footer ul.terms {font-size: 0; padding: 15px 0 10px 0;}
.footer ul.terms li {
	display: inline; font-size: 12px; padding: 0 7px 0 7px;
	background: url(../images/vline_utill01.gif) no-repeat;
}
.footer ul.terms li:first-child {padding-left: 0; background: none;}
.footer ul.terms li.on a {color: red;}
.footer dl.site_info {font-size: 0px;}
.footer dl.site_info > * {
	display: inline-block; line-height: 19px; font-size: 11px;}
.footer dl.site_info .blind {font-size: 0; margin-left: 0;}
.footer dl.site_info dt {margin: 0 1px 0 18px;}
.footer dl.site_info dt.second {margin-left: 0;}
.footer dl.site_info dd.last {margin-left: 10px;}
.footer dl.site_info a {
	height: 19px; display: inline-block;
	padding-left: 5px; margin-left: 6px;
}
.footer dl.site_info a.btn01 {
	color: white; width: 49px; 
	background: url(../images/bg_footer_btn02.gif) no-repeat;
}
.footer dl.site_info a.btn02 {
	color: white; width: 83px; 
	margin-right: 100px; background: url(../images/bg_footer_btn01.gif) no-repeat;
}
.footer .inner > p {font-size: 11px; margin-top: 2px;}
.footer ul.cer_list {font-size: 0; overflow: hidden; clear: both; margin: 19px 0 10px 0;}
.footer ul.cer_list li {float: left;}
.footer ul.cer_list li + li {margin-left: 24px;}
.footer ul.cer_list li img {vertical-align: top;}

/* footer 끝 */



